.login-container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 70vh;
}

.login-paper {
	padding: 2rem;
	max-width: 400px;
	width: 100%;
	direction: rtl;
}

.login-form {
	width: 100%;
}
