@import '../../styles/variables';
@import '../../styles/mixins';

.login-container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 70vh;
}

.login-paper {
	padding: 2rem;
	max-width: 400px;
	width: 100%;
	direction: rtl;
}

.login-form {
	width: 100%;
}

.login-form button,
.login-form .MuiButton-root {
	@include app-button();
	width: 100%;
}
