@import '../../styles/variables';
@import '../../styles/mixins';

.category-container {
  margin-top: 48px;
  margin-bottom: 48px;
  max-width: 900px;
}

.category-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}
