@import '../../styles/variables';
@import '../../styles/mixins';

.category-container {
  max-width: 900px;
  height: calc(100vh - 220px);
  overflow: auto;
}

.category-title {
  font-weight: $font-weight-bold;
  text-align: center;
  margin-bottom: $spacing-xl;
  color: $text-color;
  @include slide-up-fade(26px,.5s);
}
