@import '../../styles/variables';
@import '../../styles/mixins';

.recipe-view-container {
  max-width: 900px;
}

.recipe-view-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}
