@import '../../styles/variables';
@import '../../styles/mixins';

.header-appbar {
  background-color: $primary-color !important;
  box-shadow: 0 4px 16px rgba(red($primary-color), green($primary-color), blue($primary-color), 0.15);
  border-radius: 0;
  margin-bottom: 16px;
}

.header-toolbar {
  min-height: 70px;
}

.header-title {
  flex-grow: 1;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.header-menu-btn {
  margin-right: 16px;
  background-color: $primary-color-hover !important;
  border-radius: 8px;
}

.header-nav-btn {
  margin-left: 16px;
  @include app-button(transparent, $color-frost-white, $primary-color-hover);
  background: transparent !important;
  box-shadow: none !important;
  &.active {
    border-bottom: 2px solid $color-frost-white;
  }
}

.header-drawer {
  .MuiPaper-root {
    border-radius: 8px;
    background: $input-bg;
  }
}

.header-drawer-list-item {
  border-radius: 8px;
  margin-bottom: 8px;
  &:hover {
    background-color: $hover-bg;
  }
}

.header-drawer-list-text {
  text-align: right;
  font-weight: 600;
}
