@import '../../styles/variables';
@import '../../styles/mixins';

.recipe-list-grid {
  width: 100%;
  .MuiGrid-container {
    justify-content: center;
  }
}

.recipe-card {
   @include card;
   transition: .2s ease;
   @include scale-in(.97,.45s);
   &:hover {
      box-shadow: $shadow-md;
      transform: translateY(-4px);
   }
}

.recipe-card-content {
   text-align: center;
   background: $input-bg;
   border-radius: $card-radius;
}

.recipe-card-title {
  font-weight: 700;
  margin-bottom: 16px;
}

.recipe-card-actions {
  justify-content: center;
  padding-bottom: 16px;
}

.recipe-card-btn {
   @include app-button();
}
